// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$violet: #CB9DF0;
$dark-violet: #9927f7;
$lavander: #F0C1E1;
$dark-lavander: #7b0757fa;
$light-lavander: #ebd6e4;
$light-orange: #FDDBBB;
$blue: #6d1897;
$light-blue: #dbeffd;
$beige: #f7ebcb;
