// .header_tasks {
//   background-color: #dbeffd;
//   height: 10vh;
//   display: flex;
//   align-items: center;
//   position: fixed;
//   justify-content: center;
//   top: 0;
//   box-shadow: 0px 4px #F0C1E1;
//   width: 100%;
//   z-index: 99;
//   min-height: 10vh;

//   h2 {
//     font-family: $pixlmain;
//     margin-left: 5%;
//     color: $violet;
//   }

//   i {
//     font-size: 24px;
//     font-family: $pixlmain;
//     color: $violet;
//   }
// }

.index_tasks {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  line-height: 2;
  background-color: $light-lavander;
  padding: 10px;
  border-radius: 10px;

  .task_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $lavander;
    font-size: 19px;

    .task_title {
      max-width: 80%;
    }
  }
}

  .urg_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .urg {
      align-items: flex;
    }
  }

