.index_tasks{

}

.tasks_list {
  display: flex;
  flex-direction: column;
  line-height: 2;
  background-color: $light-lavander;
  padding: 10px;
  border-radius: 10px;

  .task_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $lavander;
    font-size: 19px;

    .task_title {
      max-width: 80%;
    }
  }
}

.link_add_task {
  position: fixed;
  bottom: 8rem;
  align-self: center;

  button {
    width: 21rem;
  }
}

.urg_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .urg {
    align-items: flex;
  }
}
