.sessioncontainer {
  justify-content: center;
  margin-top: 20vh;
}

.new_session-pixl-border {
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
}

#user_email, #user_password {
  box-shadow: -2px 0 0 0 #CB9DF0, 2px 0 0 0 #CB9DF0, 0 -2px 0 0 #CB9DF0, 0 2px 0 0 #CB9DF0;
  // background-color: #ebd6e4;
}

.submit-session {
  width: 100%;
  margin-bottom: 15px;
  color: #9927f7;
  font-family: "Funnel Display", sans-serif;
  font-weight: bold;
  font-size: 18px;
  box-shadow: -5px 0 0 0 #CB9DF0, 5px 0 0 0 #CB9DF0, 0 -5px 0 0 #CB9DF0, 0 5px 0 0 #CB9DF0;
  background-color: #ebd6e4;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #F0C1E1;

  &:hover {
    background: $dark-violet;
    color: white
  }
}

.session_links {
  display: flex;
  justify-content: space-between;
  color: $violet;
}
