.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .user-welcome {
    display: flex;
    align-items: center;
    h2 {
      margin-left: 20px;
    }
  }

  p {
    margin-top: 7px;
    margin-left: 15px;
  }
}

.infos-organization {
  display: flex;
  flex-direction: column;
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
  }
}

.member_organization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .user_org {
    width: 100%;
    margin: 5px;
    margin-left: 10px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
  }

  p {
    height: 25px;
    margin-bottom: 0px;
  }
}

.title_orga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: relative;
  h4 {
    margin-bottom: 1px;
  }
  button {
    border: none;
    background-color: #ebd6e4;
    border-radius: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 15%;
    position: absolute;
    top: -5px;
    right: 0px;
  }
}


.contentmessage {
  width: 100%;
  height: 100%;
  color: $dark-violet;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px;
  background-color: #ffefdf;
  padding: 10px;
  border-radius: 20px;
  i {
    color: $blue;
  }
}

.part_tasks {
  margin-top: 1rem;
}

.tasks {
  .task {
    display: flex;
    flex-direction: row;
  }
}

.task_organization {
  display: flex;
  flex-direction: row;
  .task_org {
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .detail_task {
    display: flex;
    flex-direction: column;
    width: 100%;

    &:nth-child(1), &:nth-child(2) {
      border-right: 1px solid $violet;
    }

    .number {
      font-size: 24px;
      font-family: $pixlmain;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0px;
    }

    .descr {
      font-size: 14px;
      text-align: center;
      font-family: $text;
      color: $violet;
    }
  }

  .urgent {
    color: rgb(186, 0, 0);
  }

}
