.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .user-welcome {
    display: flex;
    align-items: center;
    h2 {
      margin-left: 20px;
    }
  }

  p {
    margin-top: 5px;
    margin-left: 15px;
  }
}

.infos-organization {
  display: flex;
  flex-direction: column;
  .infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px;
  }
}

.member_organization {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  .user_org {
    margin: 5px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title_orga {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: relative;
  h4 {
    margin-bottom: 1px;
  }
  button {
    border: none;
    background-color: $light-lavander;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
  }
}
