<div class="homecontainer">

  <div class="title_home">

    <div class= "pixel-art_border home-pixl-border">
      <h1>Family Flow</h1>
      <p class="slogan">La vie de famille<br>fluide et simplifiée</p>
    </div>

    <div class="home_btn">
      <% if current_user  %>
          <%= link_to "Continue", organization_path(current_user.organization), class:"session_btn" %>
          <%= link_to "Exit", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Voulez-vous vous déconnecter ?" }, class:"session_btn" %>
      <% else %>
          <%= button_to "Connexion", new_user_session_path, class:"session_btn"  %>
      <% end %>
    </div>

    <div class="bottom_home">
      <%= image_tag 'family.png', class: "home_img" %>
    </div>

  </div>
</div>
