.header_chat {
  background-color: #dbeffd;
  height: 10vh;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: center;
  top: 0;
  box-shadow: 0px 4px #F0C1E1;
  width: 100%;
  z-index: 99;

  h2 {
    font-family: $pixlmain;
    margin-left: 5%;
    color: $violet;
  }

  i {
    font-size: 24px;
    font-family: $pixlmain;
    color: $violet;
  }
}

.chat {
  margin-top: 10vh;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;

  .message {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message_content_align {
    display: flex;
    flex-direction: column;
  }

  .message.sent .message-content {
    align-self: flex-start;
    background: $violet;
    color: #F4F4F4;
    min-width: 25%;
    text-align: center;
    padding: 0.5rem;
  }

  .message.received .message-content {
    align-self: flex-end;
    background: $gray-200;
    min-width: 25%;
    text-align: center;
    padding: 0.5rem;
  }

  .message.received .message-info {
    align-self: flex-end
  }
}

.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;


}

.form_chat {
  height: 15%;
  align-items: center;
  padding: 0.5rem;
  z-index: 10;
  margin-bottom: 1.5rem;

  .form-shadow {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 15%;
    width: 90%;
  }

  .form-control {
    color: $dark-violet
  }

  input::placeholder {
    color: red
  }

  .btn_chat {
    width: 20%;
    border: none;
    background-color: #ebd6e4;
    border-top-right-radius: 20%;
  }
}
