.chat {
  margin-top: 9px;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;

  .message {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }

  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message_content_align {
    display: flex;
    flex-direction: column;
  }

  .message.sent .message-content {
    align-self: flex-start;
    background: $violet;
    color: #F4F4F4;
    min-width: 25%;
    text-align: center;
    padding: 0.5rem;
  }

  .message.received .message-content {
    align-self: flex-end;
    background: $gray-200;
    min-width: 25%;
    text-align: center;
    padding: 0.5rem;
  }

  .message.received .message-info {
    align-self: flex-end
  }
}

.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;


}

.form_chat {
  height: 30%;
  align-items: center;
  padding: 0.5rem;
  z-index: 10;
  margin-bottom: 1.5rem;

  .form-shadow {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .btn_chat {
    height: 70%;
    width: 20%;
    border: none;
    background-color: $light-lavander;
    border-top-right-radius: 20%;
  }
}
