.form {
  width: 100%;
  .input_form {
    border-radius: 25px;
    border: none;
    color: grey;
    margin: 3px;
    text-align: center;
  }

  .btn-form {
    margin-top: 5px;
    background-color: $violet;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: $pixlmain;
    width: 50%;
  }
}

.add_member {
  text-align: center;
  margin: 5%;
  .btn-form {
    height: 5vh;
    width: 15%;
    margin-left: 2vh;
  }
  .input_form {
    height: 5vh;
  }
}

.form_input_text {
  display: flex;
  flex-direction: column;
}

.form_input_date {
  display: flex;
  flex-direction: row;
}
