.navbar_pixl {
  height: 12vh;
  border-top: 5px solid $lavander;
  box-shadow:   0 0 0 15px $violet;
}

.footer-container {
  background-color: $light-blue;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
