
  <div class="member_organization">
    <% @organization.users.each do |user| %>
      <div class="user_org">
        <% if user.avatar.attached? %>
          <%= cl_image_tag user.avatar.key, class: "avatar-mini" %>
        <% else %>
          <%= image_tag user.avatar, class: "avatar-mini" %>
        <% end %>
        <div>
          <% if user != current_user %>
            <%= user.username %>

          <% else %>
            <p>Vous</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
